@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:ital@1&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #14c4fa;
  --seconday-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
}

body {
  font-family: "lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Logo*/
.logo {
  margin-top: 0.5rem;
  margin-right: 2rem;
  float: left;
  font-size: 1.5em;
  letter-spacing: 2px;
  width: auto;
  height: auto;
}

.logo {
  transition: 1s;
}

.logo:hover {
  transform: rotate(0.5turn);
}

/* Navbar*/
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 180px;
}

.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/*ShowCase*/
.showcase {
  height: 100%;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 200px;
  left: 150px;
  height: 350px;
  width: 300px;
  padding: 40px;
  z-index: 100;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase-form::before,
.showcase-form::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
}

.playita {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/imagenes/varios/drink.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 5px;
  padding-left: 5px;
}

.platos {
  padding-top: 250px;
}

/*Stats*/
.stats {
  padding-top: 220px;
}
.stats-heading {
  max-width: 500px;
  margin: auto;
}
.stats .grid h3 {
  font-size: 40px;
}
.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/*seguidores*/

.seguidores .flex {
  flex-wrap: wrap;
}
.seguidores {
  text-align: center;
  margin: 18px 10px 40px;
}
.seguidores .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.seguidores .card:hover {
  transform: translateY(-15px);
}

.footer .social a {
  margin: 0 10px;
}

/*responsive tablets*/
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-content: center;
    margin: auto;
  }
}

.img-nos {
  width: 200px;
}

.img-noss {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-style: dashed;
}

.container-nosotros {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  justify-content: space-around;
  font-weight: bold;
}

.container-team {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  flex-grow: 4;
  justify-content: space-evenly;
  font-weight: bold;
}

.card-img-top {
  width: 100%;
  height: 75%;
}

/*Haz tus Pedidos*/
.cotiza {
  width: 450px;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.itemc {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 2px solid;
}

.riesgos {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.2s ease-in;
  transform: translateY(-15px);
}

/*responsive celulares*/
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba (0, 0, 0, 0.1);
  }
}

button {
  padding: 2rem 6rem;
  background: #a5b3c3;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease;
}
button:hover {
  background: #27394e;
}
button:focus {
  background: #364d69;
  outline-style: solid;
}

.platos{
text-align: center;
}


.reserva{
  te
}



/* nav and hero section*/

.main-head {
  background: #131c27;
  color: rgb(231, 214, 214);
  top: 0px;
  position: sticky;
  z-index: 3;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("/imagenes/varios/drink.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 5rem;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/*MEDIA QUERY*/
@media screen and (max-width: 933px) {
  html {
    font-size: 70%;
  }
  nav {
    text-align: justify;
  }
  #logo {
    padding: 2rem;
  }
  .cloud {
    height: 40rem;
  }
  .moving-cloud-2 {
    animation: cloudAnimation 3s infinite alternate ease-in-out;
  }
  footer {
    text-align: justify;
  }
  footer h5 {
    padding-bottom: 3rem;
  }
  .form-wrapper {
    width: 100%;
  }
}
