@import "fuente";
@import "texto";

@mixin flexT {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  flex-grow: 4;
}

.company {
  @include flexT();
  text-align: center;
  padding: 10px;
}
.container-company {
  justify-content: center;
  font-weight: bold;

  .companyp {
    padding: 10px;
    text-align: justify;
    width: 15;
  }
}
